.roboto {
  font-family: "Roboto";
}
.roboto-condensed {
  font-family: "Roboto Condensed";
}
.roboto-italic {
  font-family: "Roboto";
  font-style: italic;
}
.roboto-condensed-italic {
  font-family: "Roboto Condensed";
  font-style: italic;
}
.roboto-white {
  font-family: "Roboto";
  color: white;
}
.roboto-condensed-white {
  font-family: "Roboto Condensed";
  color: white;
}
.roboto-italic-white {
  font-family: "Roboto";
  font-style: italic;
  color: white;
}
.roboto-condensed-italic-white {
  font-family: "Roboto Condensed";
  font-style: italic;
  color: white;
}
